{% extends 'layout_base.html' %}
{% block base %}
<script>
    putBackBtn('home');
</script>
<form method="POST" action="">
    {% csrf_token %}
    <div>
        <h3>Pregled rasporeda po razredu</h3>
        <fieldset>
            <legend><label for="select_class">Odabir razreda</label></legend>
            <select name="select_class" id="select_class" required>
                <option value="blank"></option>
                {% for class in classes %}
                    {% if class.id == selected_class %}
                        <option value="{{ class.id }}" selected>{{ class.name }}</option>
                    {% else %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </fieldset>
    </div>
    <button type="submit" name="view_timetable_class">Odabir razreda</button>
    <a class="shift" href="{% url 'view_timetable_class_select' shift='b'%}">B</a>
    <a class="shift" href="{% url 'view_timetable_class_select' shift='a'%}">A</a>
</form>
{% block view %}
{% endblock %}
{% endblock %}
