#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

#settings a {
    background-color: #b65737;
}

#settings a:hover {
    background-color: #c3765b;
}

#settings fieldset {
    background: linear-gradient(90deg, #3D36FF 45%, #b65737 55%);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
}

#settings fieldset, #settings a {
    text-align: center;
    width: 250px;
    margin: 10px;
    color: #fff;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

#settings fieldset button {
    border: none;
    color: #fff;
    background-color: #00000000;
    width: 50%;
}

#settings fieldset:hover {
    background: linear-gradient(90deg, #00AAFF 45%, #c3765b 55%);
}
