{% extends 'layout_base.html' %}
{% block base %}
<script>
    putBackBtn('settings');
</script>
<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        <h3>Promjena lozinke</h3>
        <fieldset>
            <legend><label for="old_password">Stara lozinka</label></legend>
            <input id="old_password" type="password" name="old_password" required>
        </fieldset>
        <fieldset>
            <legend><label for="new_password">Nova lozinka</label></legend>
            <input id="new_password" type="password" name="new_password" required>
        </fieldset>
        <fieldset>
            <legend><label for="password_confirm">Potvrda nove lozinke</label></legend>
            <input id="password_confirm" type="password" name="password_confirm" required>
        </fieldset>
        <input type="submit" name="change_password">
    </div>
</form>
{% endblock %}
